.texto{
    h1{
        color: $colorprimario;
        font-family: $fuenteprincipal;
    }
    .parrafo{
        color: $colorprimario;
        font-family: $fuenteprincipal;
        font-size: 20px;
    }
}