header{
    font-family: $fuenteprincipal;
    .logo{
        height: 400px;
    }
    .nav{
    width: auto;
    background-color: $colorfondo;
    }
    ul{
    list-style: none;
    padding: 0px;
    }
    #menu li>a{
    background-color: $colorfondo;
    color: $colorprimario;
    font-size: 25px;
    display: block;
    text-decoration: none;
    margin-inline: 100px;
    }
    #menu li>a:hover{
    background-color: $colorhover;
    }
    #menu>li{
    float: left;
    }
    #menu>li>ul{
    display: none;
    }
    #menu>li:hover>ul {
    display:block;
    }
}